.cv-options-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .cv-option-button {
    padding: 0.5rem;
    border-radius: 25px;
    background: transparent;
    border: 1px solid #C71585;
    margin: 3px;
    cursor: pointer;
  }

  .cv-option-button:focus, .cv-option-button:hover{
    outline: none;
    background-color: #C71585;
    color: white;
  }